// Imports
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

// Font
$bodyFont: 'Space Mono', monospace;

$lightWeight: 300;
$medWeight: 400;
$heavyWeight: 600;
$maxWeight: 700;

// Color
$darkBlue: #141c2f;
$medBlue: #1f2a48;
$lightBlue: #0079fe;
$white: #fff;
$lightGrey: #bcc1d6;
