// Imports
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

// Font
$bodyFont: 'Space Mono', monospace;

$lightWeight: 300;
$medWeight: 400;
$heavyWeight: 600;
$maxWeight: 700;

// Color

$darkBg: #141c2f;
$darkCard: #1f2a48;
$darkButton: #0079fe;
$darkText: #fff;
$darkTextAlt: #bcc1d6;
